<!-- Department Report Modal -->
<div class="modal fade" id="departmentReportModal" tabindex="-1" aria-labelledby="departmentReportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="departmentReportModalLabel">Department Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Report content will be dynamically populated -->
            </div>
        </div>
    </div>
</div> 